.popup-product {
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    height: 100%;
    z-index: 9000;
    cursor: pointer;
    top: 25rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.popup-product__active {
    animation: popupSlideTop 1s;
}

.popup-product__border {
    border: 1px solid black;
    width: 10%;
    border-radius: 10px;
    background-color: #252837;
    opacity: 1;
    color: #fff;
    margin: auto;
    transition: all 0.8s;
    position: relative;
}

@keyframes popupSlideTop {
    from {
        top: 25rem;
    }

    to {
        top: 14rem;
    }
}